/* Modal stil ayarları */
.modal {
    display: none; /* Başlangıçta gizli */
    position: fixed; /* Ekranda sabit kalacak */
    z-index: 1; /* Üst katmanda */
    left: 0;
    top: 0;
    width: 100%; /* Ekranın tamamını kapla */
    height: 100%; /* Ekranın tamamını kapla */
    overflow: auto; /* İçerik taşarsa kaydırma */
    background-color: rgb(0, 0, 0); /* Koyu arka plan */
    background-color: rgba(0, 0, 0, 0.4); /* Arka planı şeffaf yap */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Ekran ortasına hizala */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Modal genişliği */
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card {
    cursor: pointer; /* Kartların tıklanabilir olduğunu göstermek için el imleci */
    transition: transform 0.2s ease-in-out; /* Hover efektine geçiş */
}

.card:hover {
    transform: scale(1.05); /* Hover'da kartın büyümesi */
}
